In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances
data=pd.read_csv("hsdh-ngo-providers-2015-2016-agreements.csv")
data

,Provider Name,Provider Identifier (ABN),Delivery Area,Local Government Area Name Multi Value Description,Local Health District Multi Value Description,Target Group Multi Value Description,Classification Multi Value Description,Gender,Indigenous status,Commissioning Agency,Program Name,Agreement Identifier,Agreement Start Date,Agreement End Date,rating,UserID
0,Action for People with Disability Inc,73393583996,Local Government Area,Hornsby ; Hunters Hill ; Ku-Ring-Gai ; Lane Co...,Northern Sydney,360 People with needs for assistance with more...,"A01.1.99 Information, advice and referral not ...",All,Not applicable,Department of Family and Community Services,"Peaks, Advocacy & Information",00001-05,01/07/2015,30/06/2018,5,1
1,Australian Chinese Community Association of NSW,37060203527,Local Government Area,Botany Bay ; Hurstville ; Kogarah ; Randwick ;...,South Eastern Sydney ; Sydney,360 People with needs for assistance with more...,A07.9.99 Service and community development and...,All,Not applicable,Department of Family and Community Services,Non Output Services,00003-04,01/07/2015,30/06/2018,3,2
2,Ethnic Community Services Co-operative Ltd,92766868403,NSW,NaN,NaN,360 People with needs for assistance with more...,"A01.1.99 Information, advice and referral not ...",All,Not applicable,Department of Family and Community Services,"Peaks, Advocacy & Information",00014-05,01/07/2015,30/06/2018,5,3
3,Rozelle Neighbourhood Centre Inc,67389740920,Local Government Area,Ashfield ; Burwood ; Canada Bay ; Canterbury ;...,Sydney,360 People with needs for assistance with more...,A01.3.03 Living skills development,All,Not applicable,Department of Family and Community Services,NGO Community Engagement - Standard,00021-04,01/07/2015,30/06/2018,4,4
4,Early Education (EarlyEd) Inc,42096307200,Local Government Area,Auburn ; Blacktown ; Holroyd ; Parramatta ; Th...,Western Sydney,"214 Families/households with, and/or caring fo...","A02.9.99 Support for children, families and ca...",All,Not applicable,Department of Family and Community Services,Family Support Places & Intervention - Early I...,00031-04,01/07/2015,31/03/2016,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45792,Pacific Link Housing Limited,82074394648,Local Government Area,Maitland,Hunter New England,110 All/most individuals (general population),A10.1.01 General social housing,All,Not applicable,Department of Family and Community Services,Lease,PROPAG-99995,09/11/2015,30/06/2016,4,45793
45793,Pacific Link Housing Limited,82074394648,Local Government Area,Maitland,Hunter New England,110 All/most individuals (general population),A10.1.01 General social housing,All,Not applicable,Department of Family and Community Services,Lease,PROPAG-99996,09/11/2015,30/06/2016,4,45794
45794,Pacific Link Housing Limited,82074394648,Local Government Area,Maitland,Hunter New England,110 All/most individuals (general population),A10.1.01 General social housing,All,Not applicable,Department of Family and Community Services,Lease,PROPAG-99997,09/11/2015,30/06/2016,5,45795
45795,Pacific Link Housing Limited,82074394648,Local Government Area,Gosford,Central Coast,110 All/most individuals (general population),A10.1.01 General social housing,All,Not applicable,Department of Family and Community Services,Lease,PROPAG-99998,09/11/2015,30/06/2016,1,45796
45796,Pacific Link Housing Limited,82074394648,Local Government Area,Gosford,Central Coast,110 All/most individuals (general population),A10.1.01 General social housing,All,Not applicable,Department of Family and Community Services,Lease,PROPAG-99999,09/11/2015,30/06/2016,4,45797

In [4]:
userRatesPerProvider = data.groupby(['Provider Name'], as_index = False).count().sort_values('rating', ascending = False)

In [5]:
userRatesPerProvider

,Provider Name,Provider Identifier (ABN),Delivery Area,Local Government Area Name Multi Value Description,Local Health District Multi Value Description,Target Group Multi Value Description,Classification Multi Value Description,Gender,Indigenous status,Commissioning Agency,Program Name,Agreement Identifier,Agreement Start Date,Agreement End Date,rating,UserID
2285,St George Community Housing Limited,3483,3483,3477,3477,3483,3483,3483,3483,3483,3483,3483,3483,3483,3483,3483
654,Compass Housing Services Co Ltd,2759,2759,2755,2755,2759,2759,2759,2759,2759,2759,2759,2759,2759,2759,2759
2777,Wentworth Community Housing Limited,2451,2451,2448,2448,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451
131,Argyle Community Housing Ltd,2443,2443,2439,2439,2443,2443,2443,2443,2443,2443,2443,2443,2443,2443,2443
750,Department of Education and Communities,2158,2158,2157,2157,2158,2158,2158,2158,2158,2158,2158,2158,2158,2158,2158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,John Colet School,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1244,Joey's Pouch Educational Child Care Centre Inc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1240,Jo Bailey Quality Care Pty Ltd,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1239,Jindera Preschool Association Inc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2931,Youthsafe,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [6]:
user_matrix = data.pivot_table(index='UserID', columns='Provider Name', values='rating')
user_matrix.head()

Provider Name,3Bridges Community Incorporated,3Bridges Community Limited,A.I.M. - Senior Secondary College,ACES Inc,ACON,ACON HEALTH LTD,ACON Health Limited,ACSN Inc,ACT Department of Disability Housing and Community Services,ACTIVUS TRANSPORT INCORPORATED,...,Young Men's Christian Association of Sydney,Young Neighbourhood Centre Inc,Young Pre-School Kindergarten Inc,Youth Action & Policy Association,Youth Off The Streets Limited,Youth Off the Streets Ltd,Youth Solutions,Youth for Christ Australia Inc Central Coast Region,Youthconnections.com.au,Youthsafe
UserID,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
final_ngo = user_matrix.fillna(user_matrix.mean(axis=0))
final_ngo

Provider Name,3Bridges Community Incorporated,3Bridges Community Limited,A.I.M. - Senior Secondary College,ACES Inc,ACON,ACON HEALTH LTD,ACON Health Limited,ACSN Inc,ACT Department of Disability Housing and Community Services,ACTIVUS TRANSPORT INCORPORATED,...,Young Men's Christian Association of Sydney,Young Neighbourhood Centre Inc,Young Pre-School Kindergarten Inc,Youth Action & Policy Association,Youth Off The Streets Limited,Youth Off the Streets Ltd,Youth Solutions,Youth for Christ Australia Inc Central Coast Region,Youthconnections.com.au,Youthsafe
UserID,,,,,,,,,,,,,,,,,,,,,
1,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
2,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
3,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
4,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
5,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45793,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
45794,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
45795,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
45796,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0
45797,3.444444,4.0,4.0,4.071429,5.0,2.0,3.666667,3.7,5.0,3.666667,...,4.0,4.2,4.0,4.0,4.0,3.666667,5.0,5.0,4.0,2.0

In [8]:
final_user = user_matrix.apply(lambda row: row.fillna(row.mean()), axis=1)

In [9]:
cosine = cosine_similarity(final_user)
np.fill_diagonal(cosine, 0 )
similarity_with_ngo =pd.DataFrame(cosine,index=final_user.index)
similarity_with_ngo.columns=final_user.index
similarity_with_ngo.head()

UserID,1,2,3,4,5,6,7,8,9,10,...,45788,45789,45790,45791,45792,45793,45794,45795,45796,45797
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [10]:
# user similarity on replacing NAN by item(ngo) avg
cosine = cosine_similarity(final_ngo)
np.fill_diagonal(cosine, 0 )
similarity_with_n = pd.DataFrame(cosine,index=final_ngo.index)
similarity_with_n.columns=final_user.index
similarity_with_n.head()

UserID,1,2,3,4,5,6,7,8,9,10,...,45788,45789,45790,45791,45792,45793,45794,45795,45796,45797
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.999988,0.999986,0.999990,0.999993,0.999993,0.999998,0.999984,0.999996,0.999996,...,0.999987,0.999999,0.999999,0.999987,0.999999,0.999999,0.999999,0.999987,0.999904,0.999999
2,0.999988,0.000000,0.999976,0.999980,0.999983,0.999983,0.999989,0.999974,0.999986,0.999986,...,0.999977,0.999989,0.999989,0.999977,0.999989,0.999989,0.999989,0.999977,0.999894,0.999989
3,0.999986,0.999976,0.000000,0.999978,0.999981,0.999981,0.999987,0.999972,0.999984,0.999984,...,0.999975,0.999987,0.999987,0.999975,0.999987,0.999987,0.999987,0.999975,0.999892,0.999987
4,0.999990,0.999980,0.999978,0.000000,0.999985,0.999985,0.999991,0.999976,0.999988,0.999988,...,0.999979,0.999991,0.999991,0.999979,0.999991,0.999991,0.999991,0.999979,0.999896,0.999991
5,0.999993,0.999983,0.999981,0.999985,0.000000,1.000000,0.999994,0.999979,0.999991,0.999991,...,0.999982,0.999994,0.999994,0.999982,0.999994,0.999994,0.999994,0.999982,0.999899,0.999994

In [11]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [13]:
sim_user_30_u = find_n_neighbours(similarity_with_ngo,30)
sim_user_30_u.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
UserID,,,,,,,,,,,,,,,,,,,,,
1,22899,15253,15273,15272,15271,15270,15269,15268,15267,15266,...,15255,15274,15275,15276,15287,15295,15294,15293,15292,15291
2,22899,15252,15272,15271,15270,15269,15268,15267,15266,15265,...,15254,15273,15274,15275,15286,15294,15293,15292,15291,15290
3,22899,15252,15272,15271,15270,15269,15268,15267,15266,15265,...,15254,15273,15274,15275,15286,15294,15293,15292,15291,15290
4,22899,15252,15272,15271,15270,15269,15268,15267,15266,15265,...,15254,15273,15274,15275,15286,15294,15293,15292,15291,15290
5,22899,15252,15272,15271,15270,15269,15268,15267,15266,15265,...,15254,15273,15274,15275,15286,15294,15293,15292,15291,15290

In [14]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_n,30)
sim_user_30_m.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
UserID,,,,,,,,,,,,,,,,,,,,,
1,14953,2940,16873,16868,16869,16870,16871,2114,2107,16872,...,8069,16859,18015,5101,8071,18026,16861,5113,18025,16862
2,1479,3054,18260,3033,18265,18266,18268,18269,18271,9211,...,18286,15664,3002,3003,15671,3007,15670,15669,15659,18253
3,14973,5274,445,5037,14636,5039,15863,15906,2925,15957,...,2935,2936,2928,37742,15845,2922,16236,16210,16209,16207
4,2297,2924,37735,2926,2927,37737,2928,37742,2930,15957,...,16206,16248,16243,16237,16236,16210,2910,2912,2913,2915
5,10996,6,10606,5419,15891,15956,2925,15955,2926,15906,...,2921,15957,2936,16236,16210,16209,16207,16206,2910,2912

In [24]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_ngo.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['UserId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_n.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score